# SPDX-FileCopyrightText: 2023 Artur Wilniewczyc <code@artewil.com>
#
# SPDX-License-Identifier: MIT

[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
