/*!
 * SPDX-FileCopyrightText: 2023 Artur Wilniewczyc
 * SPDX-License-Identifier: MIT
 */

:root {
    --main-width: 790px;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}

.list {
    background: var(--theme);
}

.hidden {
    display: none;
}

.logo a svg {
    border-radius: 0;
    margin-inline-end: 2px;
}

.logo svg,
.logo_img {
    color: #007;
}

.logo_img {
    filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.3));
    stroke-width: 0.5px;
}

.dark .logo svg {
    color: #c3c3f6;
}

.dark .logo_img {
    color: #bbe;
    filter: drop-shadow(0 0 3px rgba(200, 200, 255, 0.7));
}

.dark canvas {
    filter: invert(1) hue-rotate(180deg);
}

.logo-switches  {
    margin-left: 8px;
}

.logo-switches span.separator {
    margin: auto 4px;
}

button#theme-toggle:focus {
    outline: revert !important;
}

.profile .profile_inner h1 {
    padding-top: 0;
}

.social-icons li {
    display: inline-flex;
    margin: auto 6px;
}

.music.post-content table th,
.music.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    padding: 0.5em 0.75em;
}

.music.post-content table td ul {
    margin-bottom: 0.5em;
}

.page-header, .post-header {
    margin: 0 auto var(--content-gap) auto;
}

.post-content h2 {
    margin: 24px auto 16px;
    font-size: 26px;
}

.post-content h3 {
    font-size: 19px;
}

.music td.title,
.music td.client {
    font-weight: bold;
}

.music table ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.music table td,
.music table th {
    min-width: 0 !important;
}

.music .additional_role,
.music .event,
.music .director {
    display: none;
}

@media only screen and (min-width: 747px) {
    .music .additional_role {
        display: table-cell;
    }
}

@media only screen and (min-width: 580px) {
    .music .event {
        display: table-cell;
    }
}

@media only screen and (min-width: 500px) {
    .music .director {
        display: table-cell;
    }
}

.streaming a {
    box-shadow: none;
    color: var(--secondary);
}

.streaming a:hover {
    color: var(--primary);
}

.streaming a:not(:last-of-type) {
    margin-inline-end: 9px;
}

.streaming a svg {
    margin-top: 3px;
    height: 22px;
    width: 22px;
}

canvas.chart {
    margin-bottom: 1em;
}

table.benchmark th,
table.benchmark td {
    text-align: right;
}

table.benchmark td.best {
    background-color: #B0EAB0;
}

.dark table.benchmark td.best {
    background-color: #103A10;
}

table.benchmark td.worst {
    background-color: #FBB;
}

.dark table.benchmark td.worst {
    background-color: #471010;
}

.cc-footer {
    color: var(--secondary);
    font-size: 14px;
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
}

.cc-footer .title {
    font-style: italic;
}

.cc-footer a {
    color: inherit;
}

.cc-footer a span.text {
    border-bottom: 1px solid var(--secondary);
}

.cc-footer a:hover {
    color: var(--primary);
}

.cc-footer .icons img {
    display: inline;
    height: 19px;
    margin-left: 3px;
    vertical-align: text-bottom;
}

.dark .cc-footer .icons img {
    filter: invert(1) hue-rotate(180deg);
}

@media only screen {
    .post-content a {
        box-shadow: none;
    }

    .post-content a .text {
        box-shadow: 0 1px;
    }

    .post-content a .icon-external {
        margin-left: 0.1em;
        height: 12px;
        width: 12px;
    }
}

@media not screen {
    .post-content a .icon-external {
        display: none;
    }
}