<!--
SPDX-FileCopyrightText: 2023 Artur Wilniewczyc <artur.wilniewczyc@gmail.com>

SPDX-License-Identifier: MIT
-->

{{- if reflect.IsSlice . -}}
  {{- range where . "language" site.Language.Lang -}}
    {{- .label | markdownify -}}
  {{- else -}}
    {{- with index . 0 -}}
      <span lang="{{ .language }}">{{ .label | markdownify }}</span>
    {{- end -}}
  {{- end -}}

{{- else if reflect.IsMap . -}}
  {{- index . site.Language.Lang | markdownify -}}

{{- else -}}
  {{- . | markdownify -}}

{{- end -}}